.topnav {
	overflow: hidden;
	background-color: rgb(255, 255, 255);
  }
  
  .topnav a {
	float: center;
	display: block;
	color: rgb(0, 0, 0);
	text-align: left;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }
  
  .topnav a:hover {
	background-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
  }
  
  .topnav a.active {
	background-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
  }
  
  .topnav input[type="text"] {
	float: center;
	padding: 6px;
	border: rgb(82, 82, 82);
	margin-top: 8px;
	margin-right: 16px;
	font-size: 17px;
  }  
.search input.textbox { 
	margin: 0; 
	width: 150px;
	border: 1px solid rgb(77, 77, 77); 
	background: rgb(112, 112, 112);
	color: rgb(51, 51, 51); 	
	vertical-align: top;
}
.search input.button {
	width: 60px;
	vertical-align: top;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Sriracha', cursive;

}
.container {
    width: 960px;
    margin: 0 auto;
}
.info1 {
    width: 100%;
    height: 400px;
}

.info1_area img {
    margin-top: 80px;
    float: left;
}
.info1_area h1 {
    margin: 0;
}
.info2_area img {
    margin-top: 80px;
    float: left;
}
.info2_area h1 {
    margin: 0;
}



.info3 {
    width: 100%;
    height: 400px;
}

.info3_area img {
    margin-top: 80px;
    float: left;
}
.info3_area h1 {
    margin: 0;
}

footer {
    background: rgb(0, 0, 0);
    margin-top: 100px;
    padding: 10px;
    text-align: left;
    color: rgb(255, 255, 255);
}
footer p {
    margin: 0;
}